@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cs-color01: #21d5fa;
    --cs-color02: #17b5d4;
    --cs-color03: #0d94af;
    --cs-color04: #06748a;
    --cs-color05: #015566;
    --cs-color06: #01333d;

    /* --cs-color-copy: #fcb4a0; */
    --cs-color-copy: #17b5d4;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
}

/* html {
    scroll-behavior: smooth;
} */

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    transition: 0.7s;
    /* padding: 16px 10px; */
    height: 90px;
    width: 100%;
    /* width: 100vw; */
    z-index: 100;
}

nav.abajo {
    background: rgba(0, 0, 0, 0.4);
    padding: 4px 10px;
}

.enlace {
    position: absolute;
    height: 70px;
    padding: 6px;
    margin: 8px 0 0 16px;
  
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin-right: 10px;

    animation: rotate-logo 6s ease-in-out infinite;
}

@keyframes rotate-logo {
    0% {
        transform: rotateY(360deg);
    }
    60% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.main-name {
    color:#21d5fa;
    font-weight: bold; /* negrita */
    text-transform: uppercase;
    font-size: 1.6rem;

    transition: 0.5s;
} 

.main-name:hover {
    text-shadow: 2px 2px #ffffff;
    transition: 0.5s;
} 

nav ul {
    float: right;

    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 6px;
}

nav ul li a {
    position: relative;
    color: #21d5fa;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0 12px;
}

.fa-home {
    font-size: 1.125rem;
    color: #0307fa;
}

/* nuevo */
li a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

li a:hover {
    color: #ffffff;
}

li a:hover:after {
    width: 100%;
}

.container-user {
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* float: right; */
    margin: 6px 20px;
    padding: 6px;
}

.fa-user,
.fa-cart-shopping {
    font-size: 1.125rem;
    color: #fff100;
    cursor: pointer;
}

.checkbtn {
    font-size: 34px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* nav.abajo .main-name, */
nav.abajo ul li a {
    color: white;
}

nav.abajo .logo,
nav.abajo ul li a:hover {
    color: #21d5fa;
}

nav.abajo .main-name {
    color: #ffffff;
}

nav.abajo .main-name:hover {
    text-shadow: 2px 2px #21d5fa;
}

/**********************************************/
/* **** Zona central de la primer pagina **** */ 
#zona1{
    background: url(../img/ecommerce-cleanup.jpg) no-repeat;   /* Es para que sea SOLO una imagen */
    background-size: cover;
    background-position: center center;
    /* height: calc(100vh - 100px); */

    /* nuevo */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;

    /* border: 2px solid chocolate; */
}


/* *************************************** */
/* ********* Formulario de Productos ***** */
#section-form {
    position: absolute;
    top: 95px;
    
    width: 80%;
    height: auto;

    /* border: 2px solid #21d5fa; */
}

.titulo-form {
    text-align: center;
    font-size: clamp(1.25rem, 2vw + 0.75rem, 2rem);
    padding: 10px 3px 2px 3px;
    margin: 0;
    color: #ff4081;
    text-shadow: 2px 2px #a3a3a3;
    background-color: rgba(9, 72, 110, 0.8);
}

form {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    background-color: rgba(9, 72, 110, 0.8);
    padding: 5px 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

/* form p {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 1.3rem;
    margin-bottom: 20px;
} */

/* Grupo de la primera linea del formulario */
div.form-group.group1 {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.group-id_proveedor {
    width: 10%;
}

.group-proveedor {
    width: 38%;
}

.group-direccion {
    width: 28%;
}

.group-razonsocial {
    width: 20%;
}

.group-cuitprov {
    width: 13%;
}

hr.division {
    width: 90%;
    border: 1px solid rgb(251, 252, 252);
    margin: 0 auto 16px;
}


/* Grupo de la segunda linea del formulario */
div.form-group.group2 {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

/* Estilizando select para tipo de IVA */
.group-tipoiva select {
    background-color: transparent;
    color: #bea7bc;
    border-radius: 5px;
    border-width: 60px;
    height: 42.5px;
    border: 1px solid #A8A8A8;
    font-size: 16px;
    margin: 0;

    display: flex;
}

.group-tipoiva select option {
    color: #bea7bc;
    background-color: rgba(9, 72, 110, 0.8);
}
/* Fin estilizando select */

.group-comprobante {
    width: 22%;
}
.group-neto,
.group-total {
    width: 20%;
}

.group-iva,
.group-percepcion {
    width: 16%;
}

/* Grupo de la TERCERA linea del formulario */
div.form-group.group3 {
    display: flex;
    flex-wrap: wrap;
}

.group-observacion {
    flex: 1;
}

.group-bottom {
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-left: 1rem;
}


label {
    color: white;
    font-size: clamp(0.7rem, 2vw + 0.25rem, 1rem);
    padding-bottom: 4px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;
    
    font-size: clamp(0.7rem, 2vw + 0.25rem, 1rem);
    
    border-radius: 5px;
    border: 1px solid rgb(168, 168, 168);
    color: #ffffff;
    background-color: transparent;
}

textarea {
    min-height: 60px;
    max-height: 60px;
    min-width: 100%;
    max-width: 100%;
    
    /* box-sizing: border-box; */
    margin: 0;
}

::placeholder {
    color: #bea7bc;
}

.boton {
    font-size: 14px;
    padding: 2px;
    margin: 0;
    background-color: #0f71ad;
}

.boton:hover {
    color: #ffffff;
    background-color: #15a4fa;
}


/* ********************************************* */
/* ************** LISTA - Table **************** */
#container-lista {
    position: absolute;
    top: 51%;

    width: 98%;
    height: 44%;
    margin: 10px;
    
    background-color: rgba(9, 72, 110, 0.8);
    border-radius: 5px;
    
    overflow: hidden;

    /* border: 2px solid red; */
}

.table-wrapper {
    max-height: 360px; /* Ajusta esta altura según sea necesario */
    min-height: 260px;
    overflow-y: auto;
    overflow-x: none;
}

#container-lista h2 {
    text-align: center;
    margin: 10px;
    font-size: clamp(1.175rem, 2vw + 0.75rem, 1.7rem);
    color: #ffffff;
}

.style-table {
    width: 100%;
    height: 100%;
    margin: auto;
    border-collapse: collapse;

    font-size: 13px;
}

.style-table thead {
    position: sticky;
    top: 0;
    background-color: var(--cs-color04);
    color: #ffffff;
    text-align: left;
    z-index: 1; /* Asegura que esté por encima del contenido desplazable */
}

.style-table th,
.style-table td {
    padding: 8px 8px;
    cursor: default;
}

/* renglones */
.style-table tbody tr {
    border-bottom: 1px solid #dddddd;
    /* font-size: 16px; */
}

/* columnas numericas a la derecha*/
.col-num {
    text-align: right;
}

/* renglones IMPAR */
.style-table tbody tr:nth-of-type(odd) {
    background-color: #a8a7a7;
}

/* renglones PAR */
.style-table tbody tr:nth-of-type(even) {
    background-color: #c5c3c3;
}

/* borde final de la tabla */
/* .style-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
} */

.style-table tbody tr:hover {
    color: #ffffff;
    background-color: #576c72;
    cursor: pointer;
}

/* Botones Editar - Eliminar */
td.td-btn {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.btn {
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid #575656;
    color: #ffffff;
}

.btn a {
    text-align: center;
}

.btn-editar {
    background-color: #919a9c;
    margin-right: 6px;
    transition: 0.4s;
}

.btn-editar:hover {
    background-color: #b2bec0;
}

.btn-borrar {
    background-color: #bb0202;
    transition: 0.4s;
}

.btn-borrar:hover {
    background-color: #e40303;
}
/* Fin botones Editar - Eliminar */

/*************************/
/* ******* Footer ****** */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

p.contac {
    font-size: 1.5rem;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    background-color: #333;
    padding-bottom: 10px;
    text-shadow: #2fcdcd 2px 2px;
}

footer .container {
    margin-bottom: 8px;
}

.mimail {
    font-size: 1rem;
    padding-bottom: 12px;
}

.mimail a {
    color: #ffffff;
}

.sociales {
    padding-bottom: 10px;
}

.sociales a {
    padding: 0 4px;
}

.linkedin, .github, .facebook, .whatsapp {
    width: 36px;
    height: 36px;
    border-radius: 50px;

    transition: 0.5s;
}

.linkedin:hover, .github:hover,
.facebook:hover, .whatsapp:hover {
    /* background-color: #ffffff; */
    box-shadow: 1px 1px 14px 0 #abacaf, -1px -1px 14px 0 #abacaf;
}

a.terminos {
    color: #ffe4c4;
    font-size: clamp(0.625rem, 1vw + 0.25rem, 1rem);
}

footer .copyright {
    font-size: 1rem;
    font-stretch: ultra-expanded;
    color: var(--cs-color-copy);
}



/*************************************/
/* ***** Media Query con 1368px ***** */
@media (max-width: 1368px) {
    .logo {
        height: 50px;
        width: 50px;
    }
    
    .main-name {
        font-size: 1.3rem;
    } 

    .checkbtn {
        display: block;
        margin-top: 8px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 80vh;
        background: rgba(44, 62, 80, 0.9);
        top: 90px;
        left: -100%;
        margin: 0;
        text-align: center;
        transition: all .5s;
        overflow-y: auto;

        display: block;
    }

    nav ul li {
        display: block;
        margin: 14px 0;
        line-height: 50px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
        color: red;
    }

    #check:checked ~ ul {
        left:0;
    }
}


/*************************************/
/* ***** Media Query con 1260px ***** */
@media (max-width: 1260px) {
    label {
        padding-bottom: 10px;
    }
    
    input, textarea {
        margin-bottom: 10px;
        padding: 8px;
    }
    
    textarea {
        min-height: 60px;
        max-height: 60px;
        min-width: 100%;
        max-width: 100%;
    }

 /*     #container-lista {
        position: absolute;
        top: 51%;
    
        width: 98%;
        height: 40.8%;
        margin: 10px;
        
        background-color: rgba(9, 72, 110, 0.8);
        border-radius: 5px;
        
        overflow: hidden;
    } */

    #container-lista {
        top: 56%;

        width: 100%;
        height: 42%;
        margin: 5px;
    }
    
    .table-wrapper {
        max-height: 400px; /* Ajusta esta altura según sea necesario */
        min-height: 210px;
    }
    
    .style-table {
        height: 100%;
        font-size: 12px;
    }
    
    .style-table th,
    .style-table td {
        padding: 10px 10px;
    }
}



/*************************************/
/* ***** Media Query con 1090px ***** */
@media (max-width: 1090px) {
   /*  nav ul li a {
        font-size: 1rem;
        padding: 0 8px;
    } */

    .main-name {
        font-size: 1.4rem;
    } 
}


/*************************************/
/* ***** Media Query con 952px ***** */
@media (max-width: 952px) {
    #section-form {
            width: 90%;
            height: auto;
        }

    .style-table {
        height: 100%;
        font-size: 11px;
    }

    .col-pro,
    .col-obs {
        display: none;
    }
}



/*************************************/
/* ***** Media Query con 858px ***** */
/*************************************/
@media (max-width: 858px) {
    #section-form {
            width: 96%;
            height: auto;
    }
}



/*************************************/
/* ***** Media Query con 542px ***** */
/*************************************/
@media (max-width: 542px) {
    .col-sca,
    .col-uni {
        display: none;
    }
}



/*************************************/
/* ***** Media Query con 402px ***** */
/*************************************/
@media (max-width: 402px) {
    #section-form {
        width: 100%;
        height: auto;
    }

    .style-table {
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        font-size: 10px;
    }
}



/*************************************/
/* ***** Media Query con 490px ***** */
/*************************************/
@media (max-width: 490px) {
    .fa-bars {
        scale: 0.9;
    }

    .main-name {
        font-size: 1.1rem;
    }

    /* ************************** */
    footer {
        padding: 30px 0;
    }
    
    p.contac {
        font-size: 1.6rem;
    }
    
    p.mimail {
        font-size: 0.9rem;
    }
    
    footer .copyright {
        font-size: 0.74rem;
        font-stretch: normal;
    }
}


/*************************************/
/* ***** Media Query con 430px ***** */
/*************************************/
@media (max-width: 430px) {
    .logo {
        height: 40px;
        width: 40px;
    }
}
