@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cs-color01: #21d5fa;
    --cs-color02: #17b5d4;
    --cs-color03: #0d94af;
    --cs-color04: #06748a;
    --cs-color05: #015566;
    --cs-color06: #01333d;

    /* --cs-color-copy: #fcb4a0; */
    --cs-color-copy: #17b5d4;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
}

/* html {
    scroll-behavior: smooth;
} */

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    transition: 0.7s;
    /* padding: 16px 10px; */
    height: 90px;
    width: 100%;
    /* width: 100vw; */
    z-index: 100;
}

nav.abajo {
    background: rgba(0, 0, 0, 0.4);
    padding: 4px 10px;
}

.enlace {
    position: absolute;
    height: 70px;
    padding: 6px;
    margin: 8px 0 0 16px;
  
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin-right: 10px;

    animation: rotate-logo 6s ease-in-out infinite;
}

@keyframes rotate-logo {
    0% {
        transform: rotateY(360deg);
    }
    60% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.names {
    display: flex;
    flex-direction: column;
}

.main-name {
    color:#21d5fa;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    transition: 0.5s;
}

.main-name:hover {
    text-shadow: 2px 2px #ffffff;
    transition: 0.5s;
}

.main-namesito {
    color: #ffffff;
    font-size: 0.72rem;
    text-shadow: 1px 1px 0 #21d5fa;
}

nav ul {
    float: right;

    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 6px;
}

nav ul li a {
    position: relative;
    color: #21d5fa;
    text-shadow: 2px 2px 0px #5f5f5f;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0 12px;
}

.fa-home {
    font-size: 1.125rem;
    color: #0307fa;
}

/* nuevo */
li a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

li a:hover {
    color: #ffffff;
}

li a:hover:after {
    width: 100%;
}

.container-user {
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* float: right; */
    margin: 6px 20px;
    padding: 6px;
}

.fa-power-off,
.fa-user,
.fa-cart-shopping {
    font-size: 1.125rem;
    color: #fff100;
    cursor: pointer;
}

.container-user a {
    position: relative;
    /* color: inherit; */ /* Mantener el color por defecto */
}

.container-user a span {
    position: absolute;
    top: -8px;
    right: -12px;
    color: white; 
    background-color: red;
    padding: 3px 6px;
    font-size: 10px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
}

.checkbtn {
    font-size: 34px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* nav.abajo .main-name, */
nav.abajo ul li a {
    color: white;
}

nav.abajo .logo,
nav.abajo ul li a:hover {
    color: #21d5fa;
}

nav.abajo .main-name {
    color: #ffffff;
}

nav.abajo .main-name:hover {
    text-shadow: 2px 2px #21d5fa;
}

/**********************************************/
/* **** Zona central de la primer pagina **** */ 
#zona1{
    background: url(../img/ecommerce-cleanup.jpg) no-repeat;   /* Es para que sea SOLO una imagen */
    background-size: cover;
    background-position: center center;
    /* height: calc(100vh - 100px); */

    /* nuevo */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;   /* lo puse, porque necesitaba el boton debajo */
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}


/* ************** ANIMACIONES en bloque********** */
/* ********************************************** */
.caja{
    padding: 10px 0 0px;
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
 
.caja h1 {
    justify-content: center;
    margin-bottom: 8px;
    color: #FF4081;
    text-shadow: 6px 4px 2px #630424;
    font-size: 50px;
}

.caja h2 {
    color: white;
    text-shadow: 1px 1px 0px #000000, 
                 0px 0px 10px #02758b,
                 0px 0px 20px #02758b,
                 0px 0px 30px #02758b;
    margin-bottom: 12px;
    font-size: 36px;
}

.lista-integrantes {
    list-style: none;
    padding: 0;
    overflow: hidden; /* Oculta el contenido que se desborda */

}

.integrante {
    font-family: "Bebas Neue", sans-serif;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    font-size: 30px;
    letter-spacing: 1.4px;
    display: block;

    animation: enbloque 8s linear infinite;  /* tarda 10 segundos en pasar todos los nombres */
}

@keyframes enbloque {
    0%, 100% {
        /* transform: translateY(-459%);  este % es para 4 renglones*/
        transform: translateY(-236%);
    }
    25% {
        transform: translateY(0);
    }
}


/* ****** Animacion por renglon ******* */
/* ********** Primer renglon ********** */
div.contanier-nombres {
    width: 100%;
    display:block;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}

.nombre1 {
    color:  #FF4081;
    text-shadow: 4px 2px #3bd2f8;

    animation: slide-in-1 17s linear infinite;
}

@keyframes slide-in-1 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-16%);
    }
}

/* ************* Segundo renglon *********** */
.nombre2 {
    color: #0000ff;
    text-shadow: 4px 2px #ffff00;

    animation: slide-in-2 20s linear infinite;
}

@keyframes slide-in-2 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-16%);
    }
}


/* ********************************** */
/* ********** Texto con Zoom ******** */
.tracking {
    animation: tracking-1 5s 1s infinite;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    text-shadow: 1px 1px 10px #ffffff,
                 1px 1px 20px #ffffff,
                 1px 1px 30px #f5deb3,
                 1px 1px 40px #f5deb3;

}

@keyframes tracking-1 {
    0% {
      letter-spacing: 1em;
      transform: translateZ(400px) translateY(130px);
      opacity: 0;
      color: #8a03a5;
    }

    40% {
      opacity: 0.6;
    }

    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
      color: orange;
    }
}


/* ************************************ */
/* ******** Boton volumen si, no ****** */
.btn-sino {
    display: inline-block;
    width: 57px;
    height: 26px;
    background-color: #fa0202;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.btn-sino:before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.5s;
}


.btn-sino.active {
    background-color: #4caf50;
}

.btn-sino.active:before {
    transform: translateX(30px);
}


/**************************************/
/* ***** Media Query con 1368px ***** */
/* ********************************** */
@media (max-width: 1368px) {
    .logo {
        height: 50px;
        width: 50px;
    }
    
    .main-name {
        font-size: 1.3rem;
    } 

    .checkbtn {
        display: block;
        margin-top: 8px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 80vh;   /*  */
        background: rgba(44, 62, 80, 0.9);
        top: 90px;
        left: -100%;
        margin: 0;
        text-align: center;
        transition: all .5s;
        overflow-y: auto;

        display: block; /* agregue */
    }

    nav ul li {
        display: block;
        margin: 14px 0;/*  */
        line-height: 50px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
        color: red;
    }

    #check:checked ~ ul {
        left:0;
    }
}


/*************************************/
/* ***** Media Query con 1090px ***** */
@media (max-width: 1090px) {
    .main-name {
        font-size: 1.4rem;
    } 
}


/*************************************/
/* ***** Media Query con 866px ***** */
/* ********************************* */
@media (max-width: 866px) {
    .tracking {
        animation: tracking-1 15s 1s infinite;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        color: orange;
        text-shadow: 1px 1px 10px #ffffff,
                     1px 1px 20px #ffffff,
                     1px 1px 30px #f5deb3,
                     1px 1px 40px #f5deb3;

    }

    @keyframes tracking-1 {
        0% {
            letter-spacing: 0.8em;
            transform: translateZ(400px) translateY(100px);
            opacity: 0;
            color: #8a03a5;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            transform: translateZ(0) translateY(0);
            opacity: 1;
            color: orange;
        }
    }
}


/*************************************/
/* ***** Media Query con 600px ***** */
/*************************************/
@media (max-width:600px) {
    .integrante {
        padding: 7px;
        margin: 4px;
        font-size: 26px;
    }

    div.contanier-nombres {
        font-size: 3.5rem;
    }    
}


/*************************************/
/* ***** Media Query con 570px ***** */
/* ********************************* */
@media (max-width: 570px) {
    .tracking {
        animation: tracking-1 5s 1s infinite;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: orange;
        text-shadow: 1px 1px 10px #ffffff,
                     1px 1px 20px #ffffff,
                     1px 1px 30px #f5deb3,
                     1px 1px 40px #f5deb3;

    }

    @keyframes tracking-1 {
        0% {
            letter-spacing: 0.4em;
            transform: translateZ(400px) translateY(100px);
            opacity: 0;
            color: #8a03a5;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            transform: translateZ(0) translateY(0);
            opacity: 1;
            color: orange;
        }
    }
}



/*************************************/
/* ***** Media Query con 490px ***** */
/*************************************/
@media (max-width: 490px) {
    .fa-bars {
        scale: 0.9;
    }

    .main-name {
        font-size: 1.1rem;
    }


    .caja h1 {
        font-family: "Bebas Neue", sans-serif;
        justify-content: center;
        margin-bottom: 10px;
        font-size: 26px;
    }
    
    .caja h2 {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .integrante {
        padding: 5px;
        margin: 2px;
        font-size: 16px;
        letter-spacing: 1.2px;
    }

    div.contanier-nombres {
        font-size: 2.8em;
    }  

    /* ************************** */
    footer {
        padding: 30px 0;
    }
    
    p.contac {
        font-size: 1.6rem;
    }
    
    p.mimail {
        font-size: 0.9rem;
    }
    
    footer .copyright {
        font-size: 0.74rem;
        font-stretch: normal;
    }
}



/*************************************/
/* ***** Media Query con 430px ***** */
/*************************************/
@media (max-width: 430px) {
    .logo {
        height: 40px;
        width: 40px;
    }
}



/*************************************/
/* ***** Media Query con 330px ***** */
/*************************************/
@media (max-width: 330px) {
    tracking {
        animation: tracking-1 5s 11s infinite;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: orange;
        text-shadow: 1px 1px 10px #ffffff,
                     1px 1px 20px #ffffff,
                     1px 1px 30px #f5deb3,
                     1px 1px 40px #f5deb3;

    }

    @keyframes tracking-1 {
        0% {
            letter-spacing: 0.3em;
            transform: translateZ(400px) translateY(100px);
            opacity: 0;
            color: #8a03a5;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            transform: translateZ(0) translateY(0);
            opacity: 1;
            color: orange;
        }
    }
}