@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cs-color01: #21d5fa;
    --cs-color02: #17b5d4;
    --cs-color03: #0d94af;
    --cs-color04: #06748a;
    --cs-color05: #015566;
    --cs-color06: #01333d;

    /* --cs-color-copy: #fcb4a0; */
    --cs-color-copy: #17b5d4;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
}

/* html {
    scroll-behavior: smooth;
} */

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    transition: 0.7s;
    /* padding: 16px 10px; */
    height: 90px;
    width: 100%;
    /* width: 100vw; */
    z-index: 100;
}

nav.abajo {
    background: rgba(0, 0, 0, 0.4);
    padding: 4px 10px;
}

.enlace {
    position: absolute;
    height: 70px;
    padding: 6px;
    margin: 8px 0 0 16px;
  
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin-right: 10px;

    animation: rotate-logo 6s ease-in-out infinite;
}

@keyframes rotate-logo {
    0% {
        transform: rotateY(360deg);
    }
    60% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.main-name {
    color:#21d5fa;
    font-weight: bold; /* negrita */
    text-transform: uppercase;
    font-size: 1.6rem;

    transition: 0.5s;
} 

.main-name:hover {
    text-shadow: 2px 2px #ffffff;
    transition: 0.5s;
} 

nav ul {
    float: right;

    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 6px;
}

nav ul li a {
    position: relative;
    color: #21d5fa;
    text-shadow: 2px 2px 0px #5f5f5f;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0 12px;
}

.fa-home {
    font-size: 1.125rem;
    color: #0307fa;
}

nav.abajo .fa-home {
    color: #0307fa
}

/* nuevo */
li a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

li a:hover {
    color: #ffffff;
}

li a:hover:after {
    width: 100%;
}

.container-user {
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* float: right; */
    margin: 6px 20px;
    padding: 6px;
}

.fa-user,
.fa-cart-shopping {
    font-size: 1.125rem;
    color: #fff100;
    cursor: pointer;
}

.container-user a {
    position: relative;
    /* color: inherit; */ /* Mantener el color por defecto */
}

.container-user a span {
    position: absolute;
    top: -8px;
    right: -12px;
    color: white; 
    background-color: red;
    padding: 3px 6px;
    font-size: 10px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
}

.checkbtn {
    font-size: 34px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* nav.abajo .main-name, */
nav.abajo ul li a {
    color: white;
}

nav.abajo .logo,
nav.abajo ul li a:hover {
    color: #21d5fa;
}

nav.abajo .main-name {
    color: #ffffff;
}

nav.abajo .main-name:hover {
    text-shadow: 2px 2px #21d5fa;
}

/**********************************************/
/* **** Zona central de la primer pagina **** */ 
#zona1{
    background: url(../img/ecommerce-cleanup.jpg) no-repeat;   /* Es para que sea SOLO una imagen */
    background-size: cover;
    background-position: center center;
    /* height: calc(100vh - 100px); */

    /* nuevo */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
}

.presentacion {
    max-width: 100%;
    min-width: 36%;
    max-height: 50%;
    min-height: 26%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;

    backdrop-filter: blur(5px);
    border: 1px outset rgba(124, 123, 123, 0.6);
    box-shadow: 10px 10px 20px #2db5f5, -10px -10px 20px #000000;
}

.presentacion h1 {
    color: #ff4081;
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px #ffffff;
}

.opc-proyectos {
    display: flex;
    flex-direction: column;
}

.opc-proyectos a {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    /* text-transform: uppercase; */
    padding: 5px 12px;
    margin: 2px;
    text-shadow: 1px 1px 10px rgb(97, 96, 96);

    animation: multicolor 8s linear infinite;
}

@keyframes multicolor {
    0%   {color: #ffffff;}
    25%  {color: #f8ee5f;}
    50%  {color: #FF4081;}
    75%  {color: #03f703;}
    100% {color: #ffffff;}
}

/* .opc-proyectos a:hover {
    color: rgb(116, 230, 238);
} */

.flecha-arriba{
    bottom: 4px;
    right: 4px;

    position: fixed;

    height: 40px; 
    width: 40px;
    cursor: pointer;
}


/**********************************************/
/* *********** Card de Gaseosas ************* */
#container-masvendidos {
    padding: 120px 0px 60px;
    background-color: rgb(207, 231, 245);
}

#container-masvendidos h2 {
    font-size: clamp(1.4rem, 2vw + 1rem, 2rem);;
    text-align: center;
    padding-bottom: 20px;
    color: black;
}

.card-container-ga {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    grid-auto-rows: 450px;
    gap: 1.4rem;
}

.card-ga {
    display: grid;
    grid-template-rows: 78% 10% 12%;
    border-radius: 8px;
    box-shadow: 5px 5px 6px #666;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

    transition: 0.5s;
}

.card-ga:hover {
    box-shadow: 6px 6px 8px #444;
    scale: 0.98;

    transition: 0.5s;
}

.card-img-ga {
    padding: 10px;
    grid-row: 1/2; /* Imagen ocupa la primera fila */
}

.card-img-ga img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-title-ga {
    grid-row: 2/3; /* Título ocupa la segunda fila */
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.card-title-ga h3 {
    font-size: clamp(1rem, 2vw + 0.25rem, 1.5rem);
    margin: 0 auto;
}

.card-description-ga {
    grid-row: 3/4; /* Descripción ocupa la tercera fila */
    padding: 0 16px;
    margin: 6px 0 10px;
    display: flex;
    align-items: flex-start;
    max-height: 100%; /* Asegurar que no crezca más allá del contenedor */
}

.card-description-ga p {
    color: #666;
    font-size: clamp(0.8em, 2vw, 1.125em);
    margin: 0 auto;
    line-height: normal;
}


/**********************************************/
/* *********** Card de Alcoholicas** ******** */
#container-masvistos {
    padding: 120px 0px 60px;
    background-color: rgb(207, 242, 245);
}

#container-masvistos h2 {
    font-size: clamp(1.4rem, 2vw + 1rem, 2rem);;
    text-align: center;
    padding-bottom: 20px;
    color: black;
}

.card-container-al {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    grid-auto-rows: 450px;
    gap: 1.4rem;
}

.card-al {
    display: grid;
    grid-template-rows: 78% 10% 12%;
    border-radius: 8px;
    box-shadow: 5px 5px 6px #666;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

    transition: 0.5s;
}

.card-al:hover {
    box-shadow: 6px 6px 8px #444;
    scale: 1.02;
    transition: 0.5s;
}

.card-img-al {
    padding: 10px;
    grid-row: 1/2; /* Imagen ocupa la primera fila */
}

.card-img-al img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-title-al {
    grid-row: 2/3; /* Título ocupa la segunda fila */
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.card-title-al h3 {
    font-size: clamp(1rem, 2vw + 0.25rem, 1.5rem);
    margin: 0 auto;
}

.card-description-al {
    grid-row: 3/4; /* Descripción ocupa la tercera fila */
    padding: 0 16px;
    margin: 6px 0 10px;
    display: flex;
    align-items: flex-start;
    max-height: 100%; /* Asegurar que no crezca más allá del contenedor */
}

.card-description-al p {
    color: #666;
    font-size: clamp(0.8em, 2vw, 1.125em);
    margin: 0 auto;
    line-height: normal;
}


/*************************/
/* ******* Footer ****** */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

p.contac {
    font-size: 1.5rem;
    background-color: #333;
    padding-bottom: 10px;
    text-shadow: #2fcdcd 2px 2px;
}

footer .container {
    margin-bottom: 8px;
}

.mimail {
    font-size: 1rem;
    padding-bottom: 12px;
}

.mimail a {
    color: #ffffff;
}

.sociales {
    padding-bottom: 10px;
}

.sociales a {
    padding: 0 4px;
}

.linkedin, .github, .facebook, .whatsapp {
    width: 36px;
    height: 36px;
    border-radius: 50px;

    transition: 0.5s;
}

.linkedin:hover, .github:hover,
.facebook:hover, .whatsapp:hover {
    /* background-color: #ffffff; */
    box-shadow: 1px 1px 14px 0 #abacaf, -1px -1px 14px 0 #abacaf;
}

a.terminos {
    color: #ffe4c4;
    font-size: clamp(0.625rem, 1vw + 0.25rem, 1rem);
}

footer .copyright {
    font-size: 1rem;
    font-stretch: ultra-expanded;
    color: var(--cs-color-copy);
}


/*************************************/
/* ***** Media Query con 1368px ***** */
@media (max-width: 1368px) {
    .logo {
        height: 50px;
        width: 50px;
    }
    
    .main-name {
        font-size: 1.3rem;
    } 

    .checkbtn {
        display: block;
        margin-top: 8px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 80vh;
        background: rgba(44, 62, 80, 0.9);
        top: 90px;
        left: -100%;
        margin: 0;
        text-align: center;
        transition: all .5s;
        overflow-y: auto;

        display: block;
    }

    nav ul li {
        display: block;
        margin: 14px 0;
        line-height: 50px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
        color: red;
    }

    #check:checked ~ ul {
        left:0;
    }

    .presentacion h1 {
        font-size: 4rem;
    }
}


/*************************************/
/* ***** Media Query con 1090px ***** */
@media (max-width: 1090px) {
    .main-name {
        font-size: 1.4rem;
    } 
}


/*************************************/
/* ***** Media Query con 952px ***** */
@media (max-width: 952px) {

}



/*************************************/
/* ***** Media Query con 858px ***** */
/*************************************/
@media (max-width: 858px) {
    .presentacion h1 {
        font-size: 4rem;
    }
}



/*************************************/
/* ***** Media Query con 542px ***** */
/*************************************/
@media (max-width: 542px) {
    .presentacion h1 {
        font-size: 3rem;
    }
}



/*************************************/
/* ***** Media Query con 490px ***** */
/*************************************/
@media (max-width: 490px) {
    .fa-bars {
        scale: 0.9;
    }

    .main-name {
        font-size: 1.1rem;
    }

    /* ************************** */
    footer {
        padding: 30px 0;
    }
    
    p.contac {
        font-size: 1.6rem;
    }
    
    p.mimail {
        font-size: 0.9rem;
    }
    
    footer .copyright {
        font-size: 0.74rem;
        font-stretch: normal;
    }
}


/*************************************/
/* ***** Media Query con 430px ***** */
/*************************************/
@media (max-width: 430px) {
    .logo {
        height: 40px;
        width: 40px;
    }
}
