@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cs-color01: #21d5fa;
    --cs-color02: #17b5d4;
    --cs-color03: #0d94af;
    --cs-color04: #06748a;
    --cs-color05: #015566;
    --cs-color06: #01333d;

    /* --cs-color-copy: #fcb4a0; */
    --cs-color-copy: #17b5d4;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
}

/* html {
    scroll-behavior: smooth;
} */

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    transition: 0.7s;
    /* padding: 16px 10px; */
    height: 90px;
    width: 100%;
    /* width: 100vw; */
    z-index: 100;
}

nav.abajo {
    background: rgba(0, 0, 0, 0.4);
    padding: 4px 10px;
}

.enlace {
    position: absolute;
    height: 70px;
    padding: 6px;
    margin: 8px 0 0 16px;
  
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin-right: 10px;

    animation: rotate-logo 6s ease-in-out infinite;
}

@keyframes rotate-logo {
    0% {
        transform: rotateY(360deg);
    }
    60% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.names {
    display: flex;
    flex-direction: column;
}

.main-name {
    color:#21d5fa;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    transition: 0.5s;
}

.main-name:hover {
    text-shadow: 2px 2px #ffffff;
    transition: 0.5s;
}

.main-namesito {
    color: #ffffff;
    font-size: 0.72rem;
    text-shadow: 1px 1px 0 #21d5fa;
} 

/* Preparado para que se vea el nombre del usuario que esta logueado */
.user-name {
    color: #ff3c78;
    text-shadow: 2px 2px 0px #ffffff;
    padding: 6px;
    margin-left: 10px;
    font-size: 1rem;
    align-items: center;
    cursor: initial;
    opacity: 0;
}

nav ul {
    float: right;

    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 6px;
}

nav ul li a {
    position: relative;
    color: #21d5fa;
    text-shadow: 2px 2px 0px #5f5f5f;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0 12px;
}

.fa-home {
    font-size: 1.125rem;
    color: #0307fa;
}

/* nuevo */
li a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

li a:hover {
    color: #ffffff;
}

li a:hover:after {
    width: 100%;
}

.container-user {
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* float: right; */
    margin: 6px 20px;
    padding: 6px;
}

.fa-power-off,
.fa-user,
.fa-cart-shopping {
    font-size: 1.125rem;
    color: #fff100;
    cursor: pointer;
}

.container-user a {
    position: relative;
    /* color: inherit; */ /* Mantener el color por defecto */
}

.container-user a span {
    position: absolute;
    top: -8px;
    right: -12px;
    color: white; 
    background-color: red;
    padding: 3px 6px;
    font-size: 10px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
}

.checkbtn {
    font-size: 34px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* nav.abajo .main-name, */
nav.abajo ul li a {
    color: white;
}

nav.abajo .logo,
nav.abajo ul li a:hover {
    color: #21d5fa;
}

nav.abajo .main-name {
    color: #ffffff;
}

nav.abajo .main-name:hover {
    text-shadow: 2px 2px #21d5fa;
}

/**********************************************/
/* **** Zona central de la primer pagina **** */ 
#zona1 {
    background: url(../img/ecommerce-cleanup.jpg) no-repeat;   /* Es para que sea SOLO una imagen */
    background-size: cover;
    background-position: center center;

    /* nuevo */
    width: 100%;
    height: 100vh;
    /* height: auto; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    overflow: hidden;

    /* border: 2px solid rgb(252, 3, 3); */
}

/**********************************************/
/* **** Zona central de la primer pagina **** */ 
.titulo-productos {
    margin: 100px 0 20px;
    color: #ff4081;
    font-size: clamp(1.4rem, 2vw + 1rem, 2rem);
    text-shadow: 2px 2px #ffffff;
    /* text-align: center; */
    position: absolute;
}

#container-productos {
    margin-top: 180px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    max-width: 96%;
    height: 80%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    overflow-y: auto;
    scrollbar-width: none;  /* Oculta la barra en Firefox */

    background-color: rgb(255, 255, 255, 0.3);
}

#container-productos::-webkit-scrollbar {
    display: none;  /* Oculta la barra en Chrome, Edge y Safari */
}

.card {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    height: 370px; /* Fijamos la altura de las cards */

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto asegura que el contenido esté distribuido */
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    max-width: 100%;
    height: 36%;
    border-radius: 8px;
    margin: auto;
}

.card h2 {
    height: 24%;
    font-size: 12px;
    color: #333;
    margin: 5px auto;

    overflow: auto;
}

.card .description {
    color: #333;
    height: 40%;
    font-size: 12px;
    flex-grow: 1; /* Asegura que la descripción ocupe el espacio disponible */
    overflow-y: auto;
}

.card .precio {
    /* height: 10%; */
    font-size: 14px;
    margin-top: 10px;
}

.card input {
    /* height: 10%; */
    font-size: 11px;
    margin-bottom: 6px;
    padding: 4px;
    width: 50px;
    text-align: center;
}

.card button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px;
    font-size: 10px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.card button:hover {
    background-color: #218838;
}



/*************************/
/* ******* Footer ****** */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

p.contac {
    font-size: 1.5rem;
    background-color: #333;
    padding-bottom: 10px;
    text-shadow: #2fcdcd 2px 2px;
}

footer .container {
    margin-bottom: 8px;
}

.mimail {
    font-size: 1rem;
    padding-bottom: 12px;
}

.mimail a {
    color: #ffffff;
}

.sociales {
    padding-bottom: 10px;
}

.sociales a {
    padding: 0 4px;
}

.linkedin, .github, .facebook, .whatsapp {
    width: 36px;
    height: 36px;
    border-radius: 50px;

    transition: 0.5s;
}

.linkedin:hover, .github:hover,
.facebook:hover, .whatsapp:hover {
    /* background-color: #ffffff; */
    box-shadow: 1px 1px 14px 0 #abacaf, -1px -1px 14px 0 #abacaf;
}

a.terminos {
    color: #ffe4c4;
    font-size: clamp(0.625rem, 1vw + 0.25rem, 1rem);
}

footer .copyright {
    font-size: 1rem;
    font-stretch: ultra-expanded;
    color: var(--cs-color-copy);
}


/*************************************/
/* ***** Media Query con 1368px ***** */
@media (max-width: 1368px) {
    .logo {
        height: 50px;
        width: 50px;
    }
    
    .main-name {
        font-size: 1.3rem;
    } 

    .checkbtn {
        display: block;
        margin-top: 8px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 80vh;
        background: rgba(44, 62, 80, 0.9);
        top: 90px;
        left: -100%;
        margin: 0;
        text-align: center;
        transition: all .5s;
        overflow-y: auto;

        display: block;
    }

    nav ul li {
        display: block;
        margin: 14px 0;
        line-height: 50px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
        color: red;
    }

    #check:checked ~ ul {
        left:0;
    }
}


/*************************************/
/* ***** Media Query con 1260px ***** */
@media (max-width: 1260px) {
    label {
        padding-bottom: 10px;
    }
    
    input, textarea {
        margin-bottom: 10px;
        padding: 8px;
    }
    
    textarea {
        min-height: 60px;
        max-height: 60px;
        min-width: 100%;
        max-width: 100%;
    }

 /*     #container-lista {
        position: absolute;
        top: 51%;
    
        width: 98%;
        height: 40.8%;
        margin: 10px;
        
        background-color: rgba(9, 72, 110, 0.8);
        border-radius: 5px;
        
        overflow: hidden;
    } */

    #container-lista {
        top: 56%;

        width: 100%;
        height: 42%;
        margin: 5px;
    }
    
    .table-wrapper {
        max-height: 400px; /* Ajusta esta altura según sea necesario */
        min-height: 210px;
    }
    
    .style-table {
        height: 100%;
        font-size: 12px;
    }
    
    .style-table th,
    .style-table td {
        padding: 10px 10px;
    }
}



/*************************************/
/* ***** Media Query con 1090px ***** */
@media (max-width: 1090px) {
   /*  nav ul li a {
        font-size: 1rem;
        padding: 0 8px;
    } */

    .main-name {
        font-size: 1.4rem;
    } 
}


/*************************************/
/* ***** Media Query con 952px ***** */
@media (max-width: 952px) {
    #section-form {
            width: 90%;
            height: auto;
        }

    .style-table {
        height: 100%;
        font-size: 11px;
    }

    .col-pro,
    .col-obs {
        display: none;
    }
}



/*************************************/
/* ***** Media Query con 858px ***** */
/*************************************/
@media (max-width: 858px) {
    #section-form {
            width: 96%;
            height: auto;
    }
}



/*************************************/
/* ***** Media Query con 542px ***** */
/*************************************/
@media (max-width: 542px) {
    .col-sca,
    .col-uni {
        display: none;
    }
}



/*************************************/
/* ***** Media Query con 402px ***** */
/*************************************/
@media (max-width: 402px) {
    #section-form {
        width: 100%;
        height: auto;
    }

    .style-table {
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        font-size: 10px;
    }
}



/*************************************/
/* ***** Media Query con 490px ***** */
/*************************************/
@media (max-width: 490px) {
    .fa-bars {
        scale: 0.9;
    }

    .main-name {
        font-size: 1.1rem;
    }

    /* ************************** */
    footer {
        padding: 30px 0;
    }
    
    p.contac {
        font-size: 1.6rem;
    }
    
    p.mimail {
        font-size: 0.9rem;
    }
    
    footer .copyright {
        font-size: 0.74rem;
        font-stretch: normal;
    }
}


/*************************************/
/* ***** Media Query con 430px ***** */
/*************************************/
@media (max-width: 430px) {
    .logo {
        height: 40px;
        width: 40px;
    }
}
