@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cs-color01: #21d5fa;
    --cs-color02: #17b5d4;
    --cs-color03: #0d94af;
    --cs-color04: #06748a;
    --cs-color05: #015566;
    --cs-color06: #01333d;

    /* --cs-color-copy: #fcb4a0; */
    --cs-color-copy: #17b5d4;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
}

/* html {
    scroll-behavior: smooth;
} */

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    transition: 0.7s;
    /* padding: 16px 10px; */
    height: 90px;
    width: 100%;
    /* width: 100vw; */
    z-index: 100;
}

nav.abajo {
    background: rgba(0, 0, 0, 0.4);
    padding: 4px 10px;
}

.enlace {
    position: absolute;
    height: 70px;
    padding: 6px;
    margin: 8px 0 0 16px;
  
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin-right: 10px;

    animation: rotate-logo 6s ease-in-out infinite;
}

@keyframes rotate-logo {
    0% {
        transform: rotateY(360deg);
    }
    60% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.names {
    display: flex;
    flex-direction: column;
}

.main-name {
    color:#21d5fa;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    transition: 0.5s;
}

.main-name:hover {
    text-shadow: 2px 2px #ffffff;
    transition: 0.5s;
}

.main-namesito {
    color: #ffffff;
    font-size: 0.72rem;
    text-shadow: 1px 1px 0 #21d5fa;
}

nav ul {
    float: right;

    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 6px;
}

nav ul li a {
    position: relative;
    color: #21d5fa;
    text-shadow: 2px 2px 0px #5f5f5f;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0 12px;
}

.fa-home {
    font-size: 1.125rem;
    color: #0307fa;
}

/* nuevo */
li a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

li a:hover {
    color: #ffffff;
}

li a:hover:after {
    width: 100%;
}

.container-user {
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* float: right; */
    margin: 6px 20px;
    padding: 6px;
}

.fa-power-off,
.fa-user,
.fa-cart-shopping {
    font-size: 1.125rem;
    color: #fff100;
    cursor: pointer;
}

.container-user a {
    position: relative;
    /* color: inherit; */ /* Mantener el color por defecto */
}

.container-user a span {
    position: absolute;
    top: -8px;
    right: -12px;
    color: white; 
    background-color: red;
    padding: 3px 6px;
    font-size: 10px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
}

.checkbtn {
    font-size: 34px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* nav.abajo .main-name, */
nav.abajo ul li a {
    color: white;
}

nav.abajo .logo,
nav.abajo ul li a:hover {
    color: #21d5fa;
}

nav.abajo .main-name {
    color: #ffffff;
}

nav.abajo .main-name:hover {
    text-shadow: 2px 2px #21d5fa;
}

/**********************************************/
/* **** Zona central de la primer pagina **** */ 
#zona1{
    background: url(../img/ecommerce-cleanup.jpg) no-repeat;   /* Es para que sea SOLO una imagen */
    background-size: cover;
    background-position: center center;
    /* height: calc(100vh - 100px); */

    /* nuevo */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;   /* lo puse, porque necesitaba el boton debajo */
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

/* **************************** */
form {
    /* background-color:rgba(247, 228, 250, 0.8); */
    background-color:rgba(247, 228, 250, 0.8);
    padding: 40px 0;
    box-shadow: 0 0 6px rgba(131, 130, 130, 0.8);
    border-radius: 10px;
}

.form h1 {
    text-align: center;
    font-weight: 700;
    color: #020492;
}

.form .ver-user {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.form .ver-user p {
    font-size: 14px;
}

.form .ver-user p a {
    font-weight: bold;
}

.form {
    width: 100%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 45px;
}

input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    color: #858183;;
    border-bottom: 1px solid #49454567;
}

input#nombre {
    text-transform: capitalize;
}

input:focus {
    outline: none;
    color: #5e5b5d;
}

label.rotulo {
    color: #49454567;
    
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    pointer-events: none;
    transition: 0.5s ease-in-out all;
}

input:focus~label.rotulo,
input:valid~label.rotulo {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #b06ab3, #4568dc);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before {
    width: 100%;
}   

button {
    font-family: "Roboto";
    background: linear-gradient(to right, #17b5d4, #06748a, #0d94af, #015566);
    border: none;
    display: block;

    width: 80%;
    margin: 10px auto;
    color:rgba(44, 62, 80, 0.9);
    height: 40px;
    font-size: 16px;
    
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover {
    color: #ffffff;
    background: linear-gradient(to right, #015566, #0d94af, #06748a, #17b5d4);
}

/* ************ */
.registrate {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.registrate p {
    font-size: 14px;
}

.registrate p a {
    font-weight: bold;
}


/*************************/
/* ******* Footer ****** */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

p.contac {
    font-size: 1.5rem;
    background-color: #333;
    padding-bottom: 10px;
    text-shadow: #2fcdcd 2px 2px;
}

footer .container {
    margin-bottom: 8px;
}

.mimail {
    font-size: 1rem;
    padding-bottom: 12px;
}

.mimail a {
    color: #ffffff;
}

.sociales {
    padding-bottom: 10px;
}

.sociales a {
    padding: 0 4px;
}

.linkedin, .github, .facebook, .whatsapp {
    width: 36px;
    height: 36px;
    border-radius: 50px;

    transition: 0.5s;
}

.linkedin:hover, .github:hover,
.facebook:hover, .whatsapp:hover {
    /* background-color: #ffffff; */
    box-shadow: 1px 1px 14px 0 #abacaf, -1px -1px 14px 0 #abacaf;
}

a.terminos {
    color: #ffe4c4;
    font-size: clamp(0.625rem, 1vw + 0.25rem, 1rem);
}

footer .copyright {
    font-size: 1rem;
    font-stretch: ultra-expanded;
    color: var(--cs-color-copy);
}


/*************************************/
/* ***** Media Query con 1368px ***** */
@media (max-width: 1368px) {
    .logo {
        height: 50px;
        width: 50px;
    }
    
    .main-name {
        font-size: 1.3rem;
    } 

    .checkbtn {
        display: block;
        margin-top: 8px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 80vh;
        background: rgba(44, 62, 80, 0.9);
        top: 90px;
        left: -100%;
        margin: 0;
        text-align: center;
        transition: all .5s;
        overflow-y: auto;

        display: block; /* agregue */
    }

    nav ul li {
        display: block;
        margin: 14px 0;
        line-height: 50px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
        color: red;
    }

    #check:checked ~ ul {
        left:0;
    }
}


/*************************************/
/* ***** Media Query con 1090px ***** */
@media (max-width: 1090px) {
   /*  nav ul li a {
        font-size: 1rem;
        padding: 0 8px;
    } */

    .main-name {
        font-size: 1.4rem;
    } 

    .sucursales-maps {
        width: 90%;
    }
}


/*************************************/
/* ***** Media Query con 542px ***** */
/*************************************/
@media (max-width: 542px) {
    form {
        width: 80%;
    }
}



/*************************************/
/* ***** Media Query con 490px ***** */
/*************************************/
@media (max-width: 490px) {
    .fa-bars {
        scale: 0.9;
    }

    .main-name {
        font-size: 1.1rem;
    }

    /* ************************** */
    footer {
        padding: 30px 0;
    }
    
    p.contac {
        font-size: 1.6rem;
    }
    
    p.mimail {
        font-size: 0.9rem;
    }
    
    footer .copyright {
        font-size: 0.74rem;
        font-stretch: normal;
    }
}


/*************************************/
/* ***** Media Query con 430px ***** */
/*************************************/
@media (max-width: 430px) {
    .logo {
        height: 40px;
        width: 40px;
    }
}
