@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cs-color01: #21d5fa;
    --cs-color02: #17b5d4;
    --cs-color03: #0d94af;
    --cs-color04: #06748a;
    --cs-color05: #015566;
    --cs-color06: #01333d;

    /* --cs-color-copy: #fcb4a0; */
    --cs-color-copy: #17b5d4;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
}

/* html {
    scroll-behavior: smooth;
} */

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    transition: 0.7s;
    /* padding: 16px 10px; */
    height: 90px;
    width: 100%;
    /* width: 100vw; */
    z-index: 100;
}

nav.abajo {
    background: rgba(0, 0, 0, 0.4);
    padding: 4px 10px;
}

.enlace {
    position: absolute;
    height: 70px;
    padding: 6px;
    margin: 8px 0 0 16px;
  
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin-right: 10px;

    animation: rotate-logo 6s ease-in-out infinite;
}

@keyframes rotate-logo {
    0% {
        transform: rotateY(360deg);
    }
    60% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.names {
    display: flex;
    flex-direction: column;
}

.main-name {
    color:#21d5fa;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    transition: 0.5s;
}

.main-name:hover {
    text-shadow: 2px 2px #ffffff;
    transition: 0.5s;
}

.main-namesito {
    color: #ffffff;
    font-size: 0.72rem;
    text-shadow: 1px 1px 0 #21d5fa;
}

nav ul {
    float: right;

    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 6px;
}

nav ul li a {
    position: relative;
    color: #21d5fa;
    text-shadow: 2px 2px 0px #5f5f5f;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0 12px;
}

.fa-home {
    font-size: 1.125rem;
    color: #0307fa;
}

/* nuevo */
li a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

li a:hover {
    color: #ffffff;
}

li a:hover:after {
    width: 100%;
}

.container-user {
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* float: right; */
    margin: 6px 20px;
    padding: 6px;
}

.fa-user,
.fa-cart-shopping {
    font-size: 1.125rem;
    color: #fff100;
    cursor: pointer;
}

.container-user a {
    position: relative; /* Hacer el contenedor relativo para posicionar el span */
    /* color: inherit; */ /* Mantener el color por defecto */
}

.container-user a span {
    position: absolute; /* Posicionar relativo al ícono */
    top: -8px; /* Ajusta según el tamaño del ícono */
    right: -12px; /* Ajusta según la distancia del borde */
    color: white; 
    background-color: red;
    padding: 3px 6px; /* Tamaño del círculo */
    font-size: 10px; /* Tamaño del texto */
    border-radius: 50%; /* Convertirlo en un círculo */
    font-weight: bold; /* Hacer que el texto resalte */
    text-align: center;
}

.checkbtn {
    font-size: 34px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* nav.abajo .main-name, */
nav.abajo ul li a {
    color: white;
}

nav.abajo .logo,
nav.abajo ul li a:hover {
    color: #21d5fa;
}

nav.abajo .main-name {
    color: #ffffff;
}

nav.abajo .main-name:hover {
    text-shadow: 2px 2px #21d5fa;
}

/**********************************************/
/* **** Zona central de la primer pagina **** */ 
#zona1{
    background: url(../img/ecommerce-cleanup.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    /* height: calc(100vh - 100px); */

    /* nuevo */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;   /* lo puse, porque necesitaba el boton debajo */
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.presentacion {
    max-width: 100%;
    text-align: center;
}
  
.presentacion h1 {
    color: #ff4081;
    font-size: 5.8rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 6px 4px 2px #630424;

    /* fotograma */
    animation: slide-in 16s infinite;
    animation-timing-function: linear;
}

/* **** Fotograma de SHOP EASE, presentacion h1 **** */
@keyframes slide-in {
    from {
        transform: translateX(62vw);
    }
    to {
        transform: translateX(-62vw);
    }
}

.presentacion p {
    width: 80%;
    height: 80%;
    color: white;
    text-shadow: 1px 1px 0px #000000, 
                 0px 0px 10px #02758b,
                 0px 0px 20px #02758b,
                 0px 0px 30px #02758b;
    font-weight: 600;
    font-size: 44px;
    margin: 10px auto 40px;
}

.renglon1 span {
    color: #21d5fa;;
}


/* ********************************** */
/* ********** Boton reseñas ********* */
.btn-resenas {
    display: inline-block;
    background: #10afcf;
    color: #015c6e;
    text-decoration: none;
    padding: 8px 20px;
    border: 1px solid #015c6e;
    border-radius: 16px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    transition: 0.5s;

    animation: animacion_btn 1s infinite;
}

.btn-resenas:before,
.btn-resenas:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background-color: #015c6e;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-resenas:after {
    left: 100%;
}

.btn-resenas:hover {
    color: #10afcf;
}

.btn-resenas:hover:before {
    left: 0;
}

.btn-resenas:hover:after {
    left: 50%;
}

/* keyframes boton amimacion */
@keyframes animacion_btn {
    0%, 100% {
      transform: rotate(0deg);
      transform-origin: 50% 100%;
    }
    10% {
      transform: rotate(2deg);
    }
    20%, 40%, 60% {
      transform: rotate(-4deg);
    }
    30%, 50%, 70% {
      transform: rotate(4deg);
    }
    80% {
      transform: rotate(-2deg);
    }
    90% {
      transform: rotate(2deg);
    }
}


/* ******************************** */
/* ********** Sucursales ********** */
.container-sucursales {
    max-width: 100%;
    max-height: auto;
    height: 800px;  /* puedo sacarlo */
    color: #000000;
    background-color:  #cfeff5;
    background-image: url(/img/fondo-maps.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.titulo-sucursales {
    text-align: center;
    font-size: 2em;
    padding: 120px 3px 2px 3px;
    margin: 0;
    color: #d60909;
    text-shadow: 3px 3px var(--cs-color05);
    /* color: rgb(62, 62, 62); */
}

.sucursales-maps {
    width: 80%;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */

    margin: auto;
    gap: 10px;
    padding: 30px 0 60px;
}

.indiv-sucursal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin: auto;
    overflow: hidden;
}

.indiv-sucursal h3 {
    font-size: 1.4rem;
    /* color: #ff3c78; */
    color: rgb(5, 36, 240);
    padding: 4px;
    margin: 0 auto 20px;
    text-shadow: 0 0 10px #02252c,
                 0 0 30px #01252c;
}

/* ************************************************************* */
/* Texto de formulario */
/* Estilos para centrar el formulario en el medio del contenedor */
#section-form {
    max-width: 100%;
    background-image: url(/img/E-commerce5.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;   /* para que la imagen quede fija en el fondo */
    padding-bottom: 16px;
}

.titulo-form {
    text-align: center;
    font-size: 2em;
    padding: 120px 3px 2px 3px;
    margin: 0;
    color: white;
    text-shadow: 3px 3px rgb(214, 9, 9);
}

form {
    max-width: 40%;
    margin: auto;
    background-color: rgba(9, 72, 110, 0.8);
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 200px;
    border-radius: 5px;
}

form p {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

input.nombre,
input.apellido {
    text-transform: capitalize;
}

input.email {
    text-transform: lowercase;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;

    font-size: 16px;

    border-radius: 12px;
    border: none;
    border-bottom: 1px solid #a8a8a8;
    color: #ffffff;
    background-color: transparent;
}

/* Agregue */
input:focus,
textarea:focus {
    outline: none;
}

textarea {
    min-height: 120px;
    max-height: 120px;
    min-width: 100%;
    max-width: 100%;
}

::placeholder {
    color: #f5c6f1;
}

.aceptar {
    display: flex;
    flex-direction: row;
}

#check-priv {
    width: 18px;
    height: 18px;
    margin: 4px 10px 16px 0px;
}

.text-priv {
    color: #fff;
    font-size: clamp(0.938rem, 3vw, 1.125rem);
}

.botones {
    display: flex;
    gap: 1rem;
}

.btn {
    cursor: pointer;
    font-size: clamp(0.8rem, 2vw + 0.25rem, 1.125rem);
    text-align: center;
    color: #fff;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #15a4fa;
    margin-bottom: 14px;
    padding: 4px;

    transition: 0.4s;
}

.btn:hover {
    color: #ffffff;
    background-color: #15a4fa;
}


/*************************/
/* ******* Footer ****** */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

p.contac {
    font-size: 1.5rem;
    background-color: #333;
    padding-bottom: 10px;
    text-shadow: #2fcdcd 2px 2px;
}

footer .container {
    margin-bottom: 8px;
}

.mimail {
    font-size: 1rem;
    padding-bottom: 12px;
}

.mimail a {
    color: #ffffff;
}

.sociales {
    padding-bottom: 10px;
}

.sociales a {
    padding: 0 4px;
}

.linkedin, .github, .facebook, .whatsapp {
    width: 36px;
    height: 36px;
    border-radius: 50px;

    transition: 0.5s;
}

.linkedin:hover, .github:hover,
.facebook:hover, .whatsapp:hover {
    /* background-color: #ffffff; */
    box-shadow: 1px 1px 14px 0 #abacaf, -1px -1px 14px 0 #abacaf;
}

a.terminos {
    color: #ffe4c4;
    font-size: clamp(0.625rem, 1vw + 0.25rem, 1rem);
}

footer .copyright {
    font-size: 1rem;
    font-stretch: ultra-expanded;
    color: var(--cs-color-copy);
}



/*************************************/
/* ***** Media Query con 1368px ***** */
@media (max-width: 1368px) {
    .logo {
        height: 50px;
        width: 50px;
    }
    
    .main-name {
        font-size: 1.3rem;
    } 

    .checkbtn {
        display: block;
        margin-top: 8px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 80vh;   /*  */
        background: rgba(44, 62, 80, 0.9);
        top: 90px;
        left: -100%;
        margin: 0;
        text-align: center;
        transition: all .5s;
        overflow-y: auto;

        display: block; /* agregue */
    }

    nav ul li {
        display: block;
        margin: 14px 0;/*  */
        line-height: 50px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
        color: red;
    }

    #check:checked ~ ul {
        left:0;
    }

    .presentacion h1 {
        font-size: 4rem;
        /* fotograma */
        animation: slide-in 18s infinite;
        animation-timing-function: linear;
    }
    
    /* **** Fotograma de LA INFORMATICA, presentacion h1 **** */
    @keyframes slide-in {
        from {
            transform: translateX(60%);
        }
        to {
            transform: translateX(-60%);
        }
    }
    
    .presentacion p {
        font-weight: 500;
        font-size: 1.9rem;
    }
}


/*************************************/
/* ***** Media Query con 1090px ***** */
@media (max-width: 1090px) {
   /*  nav ul li a {
        font-size: 1rem;
        padding: 0 8px;
    } */

    .main-name {
        font-size: 1.4rem;
    } 

    .sucursales-maps {
        width: 90%;
    }
}


/*************************************/
/* ***** Media Query con 952px ***** */
@media (max-width: 952px) {
    form {
        max-width: 50%;
    }
}



/*************************************/
/* ***** Media Query con 858px ***** */
/*************************************/
@media (max-width: 858px) {
    .presentacion h1 {
        font-size: 4rem;
        
        animation: slide-in 20s infinite;
        animation-timing-function: linear;
    }
    
    /* **** Fotograma de LA INFORMATICA, presentacion h1 **** */
    @keyframes slide-in {
        from {
            transform: translateX(140%);
        }
        to {
            transform: translateX(-140%);
        }
    }
    
    .presentacion p {
        color: white;
        font-weight: 400;
        font-size: 1.4em;
    }

    .btn-resenas {
        font-size: 14px;
        padding: 6px 16px;
    }

    form {
        max-width: 60%;
    }

    .sucursales-maps {
        max-width: 96%;
        flex-wrap: wrap;
        gap: 10px;
    }
}



/*************************************/
/* ***** Media Query con 542px ***** */
/*************************************/
@media (max-width: 542px) {
    .presentacion h1 {
        font-size: 3rem;
        
        animation: slide-in 14s infinite;
        animation-timing-function: linear;
    }
    
    /* **** Fotograma de LA INFORMATICA, presentacion h1 **** */
    @keyframes slide-in {
        from {
            transform: translateX(82%);
        }
        to {
            transform: translateX(-86%);
        }
    }
    
    .presentacion p {
        font-weight: 400;
        font-size: 1.2em;
    }
}



/*************************************/
/* ***** Media Query con 490px ***** */
/*************************************/
@media (max-width: 490px) {
    .fa-bars {
        scale: 0.9;
    }

    .main-name {
        font-size: 1.1rem;
    }

    .presentacion h1 {
        font-size: 2.6rem;
        
        animation: slide-in 14s infinite;
        animation-timing-function: linear;
    }
    
    /* **** Fotograma de LA INFORMATICA, presentacion h1 **** */
    @keyframes slide-in {
        from {
            transform: translateX(82%);
        }
        to {
            transform: translateX(-86%);
        }
    }
    
    .presentacion p {
        font-weight: 400;
        font-size: 1.1em;
    }

    form {
        max-width: 86%;
    }

    /* ************************** */
    footer {
        padding: 30px 0;
    }
    
    p.contac {
        font-size: 1.6rem;
    }
    
    p.mimail {
        font-size: 0.9rem;
    }
    
    footer .copyright {
        font-size: 0.74rem;
        font-stretch: normal;
    }
}


/*************************************/
/* ***** Media Query con 430px ***** */
/*************************************/
@media (max-width: 430px) {
    .logo {
        height: 40px;
        width: 40px;
    }

    .presentacion h1 {
        font-size: 2.2rem;
        
        animation: slide-in 12s infinite;
        animation-timing-function: linear;
    }

    @keyframes slide-in {
        from {
            transform: translateX(86%);
        }
        to {
            transform: translateX(-92%);
        }
    }
    
    .presentacion p {
        font-weight: 400;
        font-size: 1rem;
    }
}
